.card {
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  padding-top: 12px;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__like-button {
  background-image: url(../images/Union.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-button_active:hover {
  opacity: 40%;
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete-button.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.card__delete-button:hover {
  background-image: url(../images/delete-button-hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 228px;
    font-size: 16px;
  }
}
